@font-face{
    font-family: 'montserrat-medium, sans-serif';
    src: url(../assets/fonts/montserrat/Montserrat-Medium.ttf) fromat('ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'montserrat-light, sans-serif';
    src: url(../assets/fonts/montserrat/Montserrat-Light.ttf) format('ttf');
    font-weight: 500;
}